<div class="footer">
 <div class="cookie-warning">
  <h1>Cookie Warning</h1>
  <p>I hereby have to draw your intention to the fact that this site uses cookies for a better interaction with this site. Nothing is saved for advertising.</p>
  <div class="cookie-btns">
   <input type="button" value="Got it" id="cookie-yes" />
   <input type="button" value="No thanks" id="cookie-no" />
  </div>
 </div>
 <div class="footer-personal">
  <h2>Malte Tölle</h2>
  <p>Machine Learning and Computer Vision</p>
 </div>
 {% include social-media-links.html %}
</div>
