<div class="footer-links">
 <a href="mailto:malte.toelle@gmail.com" ><img src="{{ root_url }}/assets/imgs/mail.svg" class="footer-social-media" /></a>
 <a href="{{ root_url }}/assets//pdfs/CV.pdf" ><img src="{{ root_url }}/assets/imgs/cv.svg" class="footer-social-media" /></a>
 <a href="https://github.com/maltetoelle" ><img src="{{ root_url }}/assets/imgs/github.svg" class="footer-social-media" /></a>
 <a href="https://www.linkedin.com/in/malte-t%C3%B6lle-96439b1a0/" ><img src="{{ root_url }}/assets/imgs/linkedin.svg" class="footer-social-media" /></a>
</div>
