@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto-Regular.ttf");
}

body {
 font-family: "Roboto", sans-serif;
 /* color: rgb(50, 50, 50) */
}

.wrapper {
 width: 100%;
 padding-right: 0;
 padding-left: 0;
}

.wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.nav-bar {
 width: 35%;
}

.header-title-div a {
	display: block;
	width: 100%;
}

.nav-click a {
 // text-decoration: none;
 color: black;
}

.page-content {
 padding: 0;
}

.header {
 display: flex;
 align-items: center;
 position: fixed;
 top: 0;
 width: 100%;
 background-color: #dddddd;
 border-bottom: 3px solid gray;
	z-index: 1000;
}

.header-title {
 width: 100%;
 padding: 20px;
 font-size: 25px;
 border-radius: 15px;
	text-align: center;
	color: black!important;
}

.nav-bar {
 display: flex;
 justify-content: flex-end;
 margin: 0;
 padding: 0;
 width: 65%;
}

.nav-bar a {
 display: block;
 padding: 8px;
 margin: 5px 0px;
 font-size: 20px;
 // text-decoration: none;
 color: black!important;
 /* border: 1px solid black; */
 border-radius: 15px;
}

.nav-click a:link {
	text-decoration: none!important;
}

.nav-click a:hover {
	// text-decoration: none;
 background-color: #555;
 color: white!important;
}
// .page-content{
// 	display: flex;
// 	justify-content: center;
// }

.wrapper{
	display: flex;
	justify-content: center;
	width: 90%;
}

.content {
	width: 100%;
 padding: 80px 0;
}

.landing {
	width: 100%;
}

.greeting-and-profile-pic {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 margin-top: 50px;
}

.content {
	width: 100%;
}

// .landing {
// 	padding: 20px;
// }

// .introduction h1 {
// 	font-size: 50px;
// }
//
// .introduction p {
// 	font-size: 30px;
// }

.fast-facts {
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.fast-facts .footer-links {
 width: 100%;
 display: flex;
 justify-content: center
}

.fast-facts h2 {
 font-size: 15px;
 text-align: center;
}

.fast-facts h1 {
 font-size: 30px;
 width: 100%;
 text-align: center;
 margin: 0;
}

.fast-facts .social-media-links img:hover {
 opacity: 0.5;
}

.social-media-links {
 margin: 0 auto;
 width: 100%;
}

.profile-pic {
 max-width: 50%;
 max-height: 180px;
 border-radius: 50%;
 margin: 0 auto;
}

.publications {
 margin-top: 50px;
 border-top: 1px solid black;
 padding-top: 10px;
}

.pubs-list {
 list-style-type: none;
 margin-left: 0;
}

.infos-pub {
 display: flex;
 align-items: center;
 font-size: 15px;
}

.infos-pub p {
 margin: 0;
}

.code-link {
 margin: 5px
}

.bibtex-text {
 display: none;
 background-color: rgba(127,127,127,0.2);
 border: 1px solid black;
 padding: 10px;
}

.contact-header {
 width: 100%;
 padding: 0 20px;
}

.uni {
 font-size: 20px;
 margin-bottom: 10px;
}

.contact-infos {
 width: 100%;
 padding: 0 20px;
}

.contact-infos h2 {
 margin-bottom: 0;
 font-size: 25px;
}

.social-media-contacts-contact-page {
 margin-top: 20px;
}

.social-media-contact {
 padding: 5px 0;
}

.contact-pic {
 display: flex;
 justify-content: center;
 margin: 30px 10px;
}

.profile-pic-contact {
 max-width: 50%;
 max-height: 300px;
 border-radius: 50%;
 margin: 0 auto;
}

.cookie-warning {
	position: absolute;
	bottom: 30px;
	padding: 10px 30px;
	background-color: #dddddd;
	width: 100%;
}

.cookie-warning input {
	background-color: #555;
	padding: 10px;
	color: white;
	border-radius: 10px;
	border: none
}

.footer {
 display: flex;
 width: 100%;
 align-items: center;
 border-top: 3px solid gray;
 position: fixed;
 bottom: 0;
 padding: 5px;
 background-color: #dddddd;
	z-index: 1000;
}

.footer-personal {
 width: 50%;
}

.footer-personal h2 {
 font-size: 20px;
 margin: 5px 5px;
}

.footer-personal p {
 font-size: 10px;
 margin: 5px 5px;
}

.footer-links {
 width: 50%;
 justify-content: space-between;
}

.footer-links img:hover {
 opacity: 0.5;
}

.footer-social-media {
 margin: 0 5px;
}

.footer-social-media {
 width: 30px;
 height: 30px;
}

@media screen and (min-width: 420px) {
 .footer-social-media {
  width: 40px;
  height: 40px;
 }

 .footer-personal p {
  font-size: 15px;
 }

 .footer-personal h2 {
  font-size: 20px;
 }

 .footer {
  padding: 10px;
 }

 .infos-pub {
  display: flex;
  align-items: center;
  font-size: 18px;
 }

	.content {
		padding: 0px;
	}

 .publication p {
  margin: 0;
 }

 .pub-title {
  margin-bottom: 10px;
 }

 /* .infos-pub p {
  margin: 20px 0;
 }

 .code-link {
  margin: 5px
 } */

 .profile-pic {
  padding: 40px;
  max-height: 300px;
 }

 .fast-facts h2 {
  font-size: 15px;
 }

 .fast-facts h1 {
  font-size: 25px;
 }

 .content {
  // margin: 150px 100px;
 }

	.greeting {
		font-size: 20px;
	}

	.introduction h1 {
		font-size: 40px;
	}

	.introduction p {
		font-size: 18px;
	}

 .publications {
  // margin-top: 100px;
  // padding: 0px 20px;;
  /* border-top: 1px solid black; */
 }

 .footer-social-media {
  margin: 0 10px;
  width: 35px;
 }

	.landing {
		width: 100%;
	}

	.greeting-and-profile-pic {
  margin-top: 0;
  width: 60%;
		margin: 0 auto;
  // padding-left: 50px;
  // border-left: 1px solid black;
 }

 .introduction {
  width: 100%;
		// padding: 30px;
  // padding-right: 100px;
		margin: 0 auto;
		margin-top: 100px;
		// padding: 400px;
 }

 /* .contact-pic {
  display: block;
 } */

 .contact-header {
  margin-top: 10px;
  text-align: center;
 }

 .contact-infos-and-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 50px auto;
 }

 .profile-pic-contact {
  max-width: 100%;
  max-height: 600px;
  border-radius: 50%;
  margin: 0;
 }

	.blog-posts {
		margin-bottom: 150px;
	}
}

@media (min-width: 800px) {

	.content {
	 // margin: 50px 10px;
		width: 80%;
		padding: 100px 0;
		margin: 0;
	}

	.landing {
		// margin: 150px 50px;
		width: 100%;
	}

 .greeting-and-profile-pic {
  margin-top: 0;
  width: 80%;
		margin: 0 auto;
		padding-left: 40px;
  // padding-left: 50px;
  // border-left: 1px solid black;
 }

 .introduction {
  width: 70%;
		padding: 0;
  // padding-right: 100px;
		margin: 0 auto;
		margin-top: 100px;
		// padding: 400px;
 }

	.nav-bar a {
  font-size: 20px;
 }

 .header-title {
  font-size: 30px;
		padding: 10px;
		margin-left: 30px;
 }

}

@media (min-width: 1200px) {

	.content {
		padding: 0;
	}

	.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

	.introduction {
		width: 60%;
		border-right: 1px solid black;
		padding-right: 20px;
	}

	.introduction p {
		font-size: 16px;
	}

	.fast-facts {
		padding-left: 20px;
	}
	.fast-facts h2 {
		font-size: 16px;
	}

	.profile-pic {
		max-width: 100px;
	}

	.greeting-and-profile-pic {
		margin-top: 70px;
	}

	.nav-bar a {
  font-size: 30px;
 }

 // .header-title {
 //  font-size: 40px;
 //  margin: 20px;
 // }

	.publications {
  margin-top: 100px;
  // padding: 0px 20px;;
  /* border-top: 1px solid black; */
 }

}

@media (min-width: 1400px) {

	.content {
		width: 100%;
	}

 .fast-facts h2 {
  font-size: 20px;
 }

 .fast-facts h1 {
  font-size: 40px;
 }

 .infos-pub {
  font-size: 15px;
 }

 .contact-infos-and-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto;
 }

	.contact-header {
		padding-top: 50px;
	}
}
